/* ! GENERALS STYLES */
html, body {
    font-size: 16px;
    background-color: #eee;
    color: #333;
}

.register-box,
.login-box {
    padding: 0 1rem;
}

.login-logo, .register-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
}


/* pick-up-phone and calendar views*/
#selectedDate{font-size: 22px;}

.cell-yellow{background-color: #f9fce0;}
.cell-cyan{background-color: #e0fbfc;}
.times{cursor:pointer;}
.times:hover{background-color: #fce0fa;}
.selectedTimeSlot{background-color: #19c12f !important; }
.slotUnavailable{background-color: #FF8F8F !important; cursor: default;}